:root {
  --header-color: #71458c;
  --white-color: #ffffff;
  --black-color: #000000;
  --hover-color: #4e166f;
  --banner-color: #1a1a1a;
  --card_background: #e7dcdc;
}

.banner_sect {
  height: auto;
  background: var(--banner-color);
  color: var(--white-color);
}

.banner_sect {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner_infor {
  text-align: center;
  width: 70%;
}
.banner_infor p {
  line-height: 1.7rem;
  padding: 1rem;
}

.banner_details {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.leadership_title {
  text-align: center;
  padding: 1rem;
}

.leadersCards {
  display: flex;
  flex-direction: row;
  gap: 2rem 0;
  flex-wrap: wrap;
  border: 2px solid black;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.leaders_cards {
  width: 30rem;
  border: 2px solid black;
  border-radius: 1rem;
  display: flex;
  background: var(--card_background);
  flex-direction: row;
  padding: 0.5rem;
  justify-content: center;
}

/* .leaders_cards .leaders_img img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 2px solid red;
} */
.leaders_cards .leaders_img {
  width: 50%;
  background-image: url("../../images/user.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.leaders_cards .leaders_details {
  padding: 0 1rem;
}
.leaders_details h1{
    /* background-color: red; */
    text-align: left;
    font-size: 1.5rem;
}
.leaders_details h2 {
  padding: 0.7rem 0;
  color: var(--header-color);
  font-size: 1.1rem;
}

.leaders_details {
  width: 50%;
  border: 2px solid yellow;
}
.leaders_details p {
  padding: 0;
  line-height: 1.5;
  padding-bottom: 0.5rem;
  font-size: .8rem;
}

.leaders_details div {
  margin-top: 2.5rem;
  border: 2px solid green;
  display: grid;
  place-content: center;
  padding: 0.5rem;
}

@media screen and (max-width:500px) {
  .leadersCards{
    margin: 1rem;
  }

}
